@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme{
    --font-one:"SN Pro", "sans-serif";
    --font-two:"Playfair Display", serif;
    --font-three:"Roboto Slab", serif;
    --align-items-center:center;
}

@theme{

    --ease-in-expo:cubic-bezier(0.95, 0.05, 0.795, 0.035); 
}